<div
  class="w-full grid grid-cols-12 md:grid-cols-12 justify-between items-center"
>
  <div class="flex items-center col-span-3 md:col-span-2 lg:col-span-2 xl:col-span-2 2xl:col-span-2 bg-green-200 p-1">
    <img
      class="h-auto max-w-full rounded-full"
      src="assets/img/logo.jpg"
      alt="logo"
    /><span class="logo-name invisible sm:visible "
      >Marcin <br />
      Mierzwa</span
    >
  </div>
  <div class="col-span-9 md:col-span-3 lg:col-span-4 xl:col-span-5 2xl:col-span-6 h-full md:order-last bg-red-100"><app-navsidelist/></div>
  <div class="col-span-12 md:col-span-7 lg:col-span-6 xl:col-span-5 2xl:col-span-4 h-full bg-yellow-200 p-1">
    <app-navlist/>
  </div>
</div>
