<main class="h-screen w-screen mx-auto flex flex-col overflow-hidden">
    
    <div class="bg-slate-500 ">
        <app-navigation-top/>
    </div>
    <section class="w-full bg-blue-300 flex flex-col md:flex-row main basis-11/12 ">
        <div class="basis-11/12 md:basis-4/5 xl:basis-10/12 w-full md:order-last"><router-outlet/></div>
        <div class="basis-1/12 md:basis-1/5 xl:basis-2/12"><app-navigation-side/></div>
    </section>
    <div class="bg-red-500 ">
        <app-footer/>
    </div>
</main>
