@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .link {
    font-size: clamp(13px, 2.8vw, 1rem);
    cursor: pointer;
  }
  .translate-center {
    transform: translate(-50%, -50%);
  }

  .translate-verthical {
    transform: translateY(-50%);
  }
}
